/* Roboto 400, 500, 700, 900 latin-cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
    }  
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
    }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
    }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
    }

:root {
    --main-text-color: #757575;
    --accent-text-color: #2196f3;
    --white: #ffffff;
    --black: #212121; 
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3 {
    margin-top: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

}

/* минус точки для всех списков */
.ul-all {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.ul-all .menu-item:not(:last-child) {
    margin-right: 50px;
}

/* все ссылки */
.link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: inherit;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--accent-text-color);
}


/* для header */
.header-all {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    background-color: var(--white);
    border-bottom: 1px solid #ECECEC;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}


.nav-header {
    display: flex;
    align-items: center;
}

.mail-svg {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.phone-svg {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    Fill: Solid #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-svg:hover {
    content: "";
    fill: var(--accent-text-color);
}

.mail-link {
    display: flex;
    content: "";
    color: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-svg {
    content: "";
    Fill: Solid #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mail-svg:hover {
    fill: var(--accent-text-color);
}

.phone-link {
    display: flex;
    content: "";
    color: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-link:hover .phone-svg {
    content: "";
    fill: var(--accent-text-color);
}

.mail-link:hover .mail-svg {
    content: "";
    fill: var(--accent-text-color);
}

.active-line {
    
}

.active-line::after {
    position: absolute;
    bottom: -8px;
    border-bottom: 4px var(--accent-text-color) solid;
    content: "";
    left: 0;
    right: 0;
    border-radius: 2px;
}

/* Web + Studio */
.header-logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    padding-right: 93px;
    transform: rotateY(0) scale(1);
    transition: all 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover {
    color: black;
    transform: rotateY(45deg) scale(1.25);
    transition: all 950ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover .logo-studio-header {
    color: var(--accent-text-color);
    transition: all 950ms cubic-bezier(0.4, 0, 0.2, 1);
}


.logo-studio-header {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #212121;
}

.contacts-header {
    padding-left: 286px;
}


/* Page 1 section h1 + button */
.hero {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.4);
    background-repeat: no-repeat;  
    background-position: center;  
    background-size: cover;
    background-attachment: auto;
    background-image: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-bcg.jpg);
}

.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.page1-h1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    width: 696px;
    margin-top: 0;
}

.page1-button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    color: var(--white);
    background-color: #2196f3;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page1-button:hover {
    background-color: #757575;
    color: var(--accent-text-color);
    cursor: pointer;
}

/* перечень решений */
.p1h2-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.list-of-decisions {
    padding-top: 94px;
    padding-bottom: 94px;
}

.ul-sol {
    display: flex;
    justify-content: space-between;
}

.li-sol .p-sol:not(:last-child) {
    padding-right: 30px;
}

.li-sol {
    display: flex;
    width: 270px;
    margin-bottom: 10px;
}

.p-sol {
    display: flex;
    width: 270px;
}

.solutions-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.solutions-icons:not(:last-child) {
    margin-right: 30px;
}



.solutions-icons-svg {
    width: 65px;
    height: 70px;
    Fill: Solid #212121;
}

/* все h3 с двух страниц + члены команды, робото 500 болд */
.h3-all {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

/* чем мы занимаемся */

.wwd1 {
    background-color: #ffffff;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 94px;    
}

.page1-h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
}

.page1-h2add {
    margin-bottom: 50px;
}

.wwd-dec {
    margin-bottom: 50px;
}

.ul-wwd {
    background-color: var(--white);
}
.ul-wwd .li-wwd:not(:last-child) {
    margin-right: 30px;
}

.li-wwd {
    position: relative;
}

.wwd-plus {
    position: absolute;
    bottom: 6px;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    left: 0;
    right: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

}

/* наша команда */
.ot1 {
    background: #F5F4FA;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.list {
    list-style-type: none;
}

.position {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 0;
}

.ul-ot {
    display: flex;
    justify-content: space-between;
}

.p1-ot {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-emp {
    display: flex;
    flex-direction: column;
    width: calc((100%-90px)/4);
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.about-emp:not(:last-child) {
    margin-right: 30px;
}

.foto-emp {
    display: block;
    border-radius: 0;   
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    object-fit: cover;
}

.name-emp {
    padding: 0;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.social-icons-svg {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-icons{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.social-icons-item:not(:last-child) {
    margin-right: 10px;
}

.social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;
    transition: var(--white) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link:hover {
    background-color: var(--accent-text-color);
}

.social-icons-link:hover .social-icons-svg {
    fill: var(--white);
}

.instagram-bcg-blue {
    background-color: var(--accent-text-color);
}

.instagram-color-white {
    fill: var(--white);
}

.instagram-color-normal {
    fill: #AFB1B8;
}


/* постоянные клиенты */
.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-customers {
    margin-bottom: 50px;
}

.customers-icons {
    display: flex;
    padding: 0;
}

.customers-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.customers-list-icon:not(:last-child) {
    margin-right: 30px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-svg1 {
    width: 44px;
    height: 49px;
    fill: #AFB1B8; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.customers-icons-svg2 {
    width: 40px;
    height: 52px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-svg3 {
    width: 41px;
    height: 43px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-svg4 {
    width: 80px;
    height: 42px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-svg5 {
    width: 59px;
    height: 47px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icons-svg6 {
    width: 88px;
    height: 45px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-icon:hover {
    border: 1px solid var(--accent-text-color);
}

.customers-list-icon:hover .customers-icons-svg1 {
    fill: var(--accent-text-color);
}

.customers-list-icon:hover .customers-icons-svg2 {
    fill: var(--accent-text-color);
}

.customers-list-icon:hover .customers-icons-svg3 {
    fill: var(--accent-text-color);
}

.customers-list-icon:hover .customers-icons-svg4 {
    fill: var(--accent-text-color);
}

.customers-list-icon:hover .customers-icons-svg5 {
    fill: var(--accent-text-color);
}

.customers-list-icon:hover .customers-icons-svg6 {
    fill: var(--accent-text-color);
}

/* 1 страница, описание p для h3 */
.page1-h3-p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    margin: 0;
}

/* footer страниц */
.footer-all {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    color: #2196F3;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-studio-footer {
    color: var(--white)
}

.address-footer-main {
    display: flex;
    flex-direction: column;    
    color: var(--white);    
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer-main:hover,
.address-footer-main:focus {
    color: var(--accent-text-color);
}

.footer-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-li:not(:last-child) {
    margin-bottom: 9px;
}

.address-footer {
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.contacts-footer {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.social-icons-dark {
    display: flex;
    margin-right: 10px;
    padding: 0;
    margin-top: 0;
}

.social-icons-link-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    padding: 0;
    margin-right: 10px;
    transition: rgba(255, 255, 255, 0.1) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-link-dark:hover {
    background-color: var(--accent-text-color);
}

.social-icons-svg-footer {
    width: 20px;
    height: 20px;
    fill: var(--white);

}

.join {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.footer-direction {
    display: flex;    
}

.footer-contacts {
    margin-right: 70px;
}

.join-text {
    Font Family: Roboto;
    Font Style: 700;
    Font Size: 14px;
    Letter Spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-follow {
    Font Family: Roboto;
    Font Style: 700;
    Font Size: 14px;
    Letter Spacing: 0.04em;
    color: #ffffff;
    margin-bottom: 20px;
}

/* 2 страница */
.all-port {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.port-ul-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.port-ul-buttons .port-li-buttons:not(:last-child) {
    margin-right: 8px;
}

.offers {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
    
}

.li-offers {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: calc((100% - 60px) / 3);
    margin-bottom: 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.li-offers:hover,
.current::after {
    content: "";
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.offers-fokus {
    position: relative;
    overflow: hidden;
}

.offers-text {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 63px 24px;
    background-color: var(--accent-text-color);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offers-fokus:hover .offers-text {    
    transform: translateY(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.offers-a {
    text-decoration: none;
}



.add-offers {
    padding: 20px 24px;
}

.h3-all-2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

/* 2 страница кнопки */
.page2-buttons {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page2-buttons:hover,
.page2-buttons:focus {
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(119, 17, 17, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.page2-buttons:hover {
    color: #ffffff;
}

/* p на 2 странице */
.page2-p-h3 {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 0;
    margin-top: 0;
}

.blue-color {
    color: var(--accent-text-color);
}

/* модальное окно */

.backdrop {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 2;
    transform: opacity(1) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: opacity(0.5) scale(0.3);
}

.close-svg {
    display: flex;
    fill: #000000; 
    width: 11px;
    height: 11px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-svg,
.close-button:focus .close-svg {
    fill: var(--accent-text-color);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.close-button:hover,
.close-button:focus {
    border: 3px solidrgba(0, 0, 0, 0.1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*форма модкалки героя */

.hero-backdrop-form {
    content: "";
    width: 100%;
    height: 100%;
    padding: 40px 40px;
}

.form-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    padding: 0;
    margin-bottom: 0;
}

.form-list {
    list-style-type: none;
    padding: 0;
}

.form-field {
    display: block;
}

.form-label {
    display: block;
    margin-bottom: 4px; 
    Font Family: Roboto;
    Font Size: 12px;
    Font Style: Regular;
    Line Height: 14px;
    Align: Left;
    Vertical Align: Top;
    Letter Spacing: 1%;
    padding: 0;
    width: auto;
}

.form-input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 35px;
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-position {
    content: "";
    position: relative;
}

.form-icon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 15px;
    top: 14px;
    fill: black;
}

.form-comment {
    width: 448px;
    height: 120px;
    border: 0;
}

.form-comment-text {
    resize: none;
    width: inherit;
    height: inherit;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:nth-child(3) {
    margin-bottom: 20px;
}

.agreement {
    width: 448px;
    height: 24px;
    margin-bottom: 30px;
}

.agreement-check {
    width: 16px;
    height: 15px;
    border: 1px solid black;
    margin-right: 8px;
}

.agreement-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13.9px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.agreement-link {
    color: #4185bd;
}

.agree-location {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
    width: auto;
    height: 24px;
}

.btn-submit {
    display: inline-block;
    background-color: var(--accent-text-color);
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 124px;
    Font Family: Roboto;
    Font Style: Bold;
    Font Size: 16px;
    Line Height: 1.6;
    Align: Center;
    Vertical Align: Center;
    Letter Spacing: 6%;
    color: white; 
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover {
    background-color: #47657c;
    color: var(--accent-text-color);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list-item:hover .form-input,
.form-list-item:focus-within .form-input {
    border: 1px solid var(--accent-text-color);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list-item:hover .form-icon,
.form-list-item:focus-within .form-icon {
    fill: var(--accent-text-color);
}

.form-list-item:hover .form-comment-text,
.form-list-item:focus-within .form-comment-text {
    border: 1px solid var(--accent-text-color);
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}   

.mailing {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 14px;
    margin-left: 55px;
}

.subs-input {
    width: 358px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-left: 55px;
}

.subs-icon {
    width: 24px;
    height: 24px;
    fill: var(--white);
}

.subs-btn {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    padding: 13px 29px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.subs-btn:hover,
.subs-btn:focus {
    background-color: var(--main-text-color);
    color: var(--accent-text-color);
    cursor: pointer;
}

.subs-btn:hover,
.subs-btn:focus-within .subs-icon {
    fill: var(--accent-text-color);
}