.page1-button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    color: $white;;
    background-color: #2196f3;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background-color: #757575;
    color: $accent-text-color;
    cursor: pointer;
}
}

.subs-btn {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background: $accent-text-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 12px;
    padding: 13px 29px;
    color: $white;;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    outline: none;
 

&:hover,
&:focus {
    background-color: $main-text-color;
    color: $accent-text-color;
    cursor: pointer;
}

&:hover,
&:focus-within .subs-icon {
    fill: $accent-text-color;
}
}

.page2-buttons {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background-color: $accent-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(119, 17, 17, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    color: $white;
}
}

.btn-submit {
    display: inline-block;
    background-color: $accent-text-color;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 124px;
    font-family: Roboto;
    font-style: Bold;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 6%;
    color: white; 
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
    background-color: #47657c;
    color: $accent-text-color;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}