.footer-all {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}






.join {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.footer-direction {
    display: flex;    
}

.footer-contacts {
    margin-right: 70px;
}

.join-text {
    font-Family: Roboto;
    Font-style: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-bottom: 20px;
}

.footer-follow {
    font-family: Roboto;
    font-style: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-bottom: 20px;
}

.mailing {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    padding: 0;
    margin-bottom: 20px;
    margin-top: 14px;
    margin-left: 55px;
}

.subs-input {
    width: 358px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-left: 55px;
}

.subs-icon {
    width: 24px;
    height: 24px;
    fill: var(--white);
}
